<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
		These are the instructions for this test
		<a href="/test/environment/?testid=<%=@testid%>"><input type="button" value="Start Test"></a>
    </div>
	 <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
	 </div>
</div>
</div>

