<div class="container-fluid">
  <div class="row">
    	<div class="col-sm-12" style="padding-top: 30px; padding-left: 50px;">
			<center><h2>You have already taken this quiz.</h2><br/><img src="/smiley2.svg" height="300px;" width="300px;"><br/><br/><h2>You will be redirected to homepage in <span id="timer"></span> seconds.</h2><br/><br/></center>
			
	 	</div>
	</div>
</div>


  <script>
  	var seconds=10
	
	setInterval(function() {
		seconds=seconds-1;
		document.getElementById('timer').innerHTML=seconds
		if(seconds<=0){
			location="/"
			return
		}

    },1000);  	

  </script>