<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
 

		<div class="card text-center">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		    <li class="nav-item">
		        <a class="nav-link" href="/test/instructions/?testid=<%= params[:testid] %>">Instructions</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/test/environment/?testid=<%= params[:testid] %>">Problems</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link active" href="#">Score Board</a>
		      </li>
		    </ul>
		  </div>
		  <div class="card-body" style="padding:0px;">
		 
		 	<% if(@flag==0) %>
			  	<h4>Scores of this quiz will be available just after the quiz gets over.</h4>
			<%else%>
				<%= render 'resulttable', enrollments: @enrollments %>
			<%end%>
		  </div>
		</div>
    </div>

     <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
 </div>

</div>

</div>

