<div class="container-fluid">
  <div class="row">
    	<div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
			Thanks for taking this test you can view your result on scoreboard once the test gets finished.
	 	</div>

	 	<div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
 		</div>
	</div>
</div>